# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
env/
venv/
.venv/

# Environment variables
.env
.env.*

# Alembic cache
alembic/__pycache__/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# SQLite
*.db
*.sqlite3

node_modules/
dist/
build/
.env
.env.*